<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdalovelaceRegistro</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/vendor/materialize-0.98.2/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/mystyle.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/vendor/materialize-0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-1.6/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>

    <style>
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
    </style>

</head>
<body>
    <!-- Navbar goes here -->
    <nav class="pink darken-3" style="height:90px">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left hide-on-med-and-down" style="padding-left:35px;padding-top:8px; font-size:3em"><b>diBasta!</b></a>
            <a href="#!" class="brand-logo center">
                <img class="responsive-img" src="/resource/images/logo2.png" alt="" />
            </a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#!" class="collection-item"><i class="material-icons left">pan_tool</i>Has tu queja</a></li>
                <li><a href="#!" class="collection-item"><i class="material-icons left">group</i>Reconoce la violencia de genero</a></li>
                <li><a href="#!" class="collection-item"><i class="material-icons left">hourglass_empty</i>Proceso de mi queja</a></li>
                <li><a href="#!" class="collection-item"><i class="material-icons left">phone</i>Contactos</a></li>
                <li><a href="#!" class="collection-item"><i class="material-icons left">person_outline</i>Preguntas</a></li>
            </ul>
        </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row">
        <div class="col l3 hide-on-med-and-down">
            <div class="collection ">
                <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87);"><i class="large material-icons left">pan_tool</i><h5>Has tu queja</h5></a>
                <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">group</i><h5>Reconoces la violencia de genero</h5></a>
                <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">hourglass_empty</i><h5>Proceso de mi queja</h5></a>
                <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">phone</i><h5>Contactos</h5></a>
                <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">person_outline</i><h5>Preguntas</h5></a>
            </div>
        </div>
        <div class="col s12 l9" id="registro">
            <div class="row" v-if="denunciaSeleccion">
                <blockquote style="text-align: justify;font-size: 25px ">
                    <h3 class="center-align">Estadísticas</h3>
                </blockquote>
                <div class="col l6 s12" id="chart_div"></div>
                <div class="col l6 s12" id="chart_div2"></div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer class="page-footer pink darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script>
        // Initialize collapse button
        $(".button-collapse").sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
        });


        $(document).ready(function(){
            $('.slider').slider();
        });

        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });

    </script>
    <script type="text/javascript" src="/vendor/vue/vue.js"></script>
    <script type="text/javascript" src="/static/js/denuncias.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['FIIS', 3],
          ['FIEE', 1],
          ['FAUA', 1],
          ['FIM', 1],
          ['FIEECS', 2]
        ]);
        // Set chart options
        var options = {'title':'Agresiones por facultad: 34',
                       'width':700,
                       'height':500};
        // Instantiate and draw our chart, passing in some options.
        let chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      function drawChart2() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Física', 1],
          ['Psicológica', 3],
          ['Sexual', 2],
        ]);
        // Set chart options
        var options = {'title':'Tipos de agresiones',
                       'width':700,
                       'height':500};
        // Instantiate and draw our chart, passing in some options.
        let chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart2.draw(data, options);
      }
    </script>
</body>
</html>
