<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adalovelace</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/vendor/materialize-0.98.2/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="/vendor/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/vendor/materialize-0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-1.6/angular.min.js"></script>
    <style>
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
    </style>
</head>
<body>
    <!-- Navbar goes here -->
    <nav class="pink darken-3" style="height:90px">
        <div class="nav-wrapper">
            <a href="/inicio" class="brand-logo left hide-on-med-and-down" style="padding-left:35px;padding-top:8px; font-size:3em"><b>diBasta!</b></a>
            <a href="/inicio" class="brand-logo center">
                <img class="responsive-img" src="/resource/images/logo2.png" alt="" />
            </a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <a href="/user/Denuncia" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">pan_tool</i><h5>Haz tu Queja</h5></a>
                <a href="/test" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">group</i><h5>Reconoces la violencia de género</h5></a>
                <a href="/user/Seguimiento" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">hourglass_empty</i><h5>Proceso de mi Queja</h5></a>
                <a href="/contacto" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">phone</i><h5>Contáctanos</h5></a>
                <a href="/estadisticas" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">poll</i><h5>Estadística</h5></a>
                <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">person_outline</i><h5>Preguntas frecuentes</h5></a>
            </ul>
        </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row">
        <div class="col l3 hide-on-med-and-down">

            <div class="collection ">
                <a href="/user/Denuncia" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">pan_tool</i><h5>Haz tu Queja</h5></a>
                <a href="/test" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">group</i><h5>Reconoces la violencia de género</h5></a>
                <a href="/user/Seguimiento" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">hourglass_empty</i><h5>Proceso de mi Queja</h5></a>
                <a href="/contacto" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">phone</i><h5>Contáctanos</h5></a>
                <a href="/estadisticas" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">poll</i><h5>Estadística</h5></a>
                <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">person_outline</i><h5>Preguntas frecuentes</h5></a>
            </div>
        </div>
        <div class="col s12 l9">
            <div class="row slider">
                <ul class="slides">
                    <li>
                        <img src="/resource/images/acososexual.jpg">
                        <div class="caption left-align">
                            <h1>diBasta</h1>
                            <h2 class="light pink-text text-lighten-5">Dejanos ayudarte</h2>
                        </div>
                    </li>
                    <li>
                        <img src="/resource/images/acoso-abuso-sexual.jpg">
                        <div class="caption center-align">
                            <h1>diBasta</h1>
                            <h2 class="light pink-text text-lighten-5">Pon un alto y has q tu voz sea escuchada</h2>
                        </div>
                    </li>
                    <li>
                        <img src="/resource/images/acososexual2.jpg">
                        <div class="caption rigth-align">
                            <h1>diBasta</h1>
                            <h2 class="light pink-text text-lighten-5">Pon un alto y has q tu voz sea escuchada</h2>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card pink accent-1 hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/resource/images/unidas1.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">"Feminis...Qué?!"<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">"Feminis...Qué?!"<i class="material-icons right">close</i></span>
                            <p>Agradecemos a las y los asistentes al conversatorio: "Feminis...Qué?!", en dónde, a 5 meses de cumplirse la destitución del ex-docente hostigador, discutimos acerca del proceso, de los fundamentos legales, del movimiento feminista y del colectivo UNIdas y su incidencia en la UNI.

                                Agradecemos a las invitadas, Sofía Atoccsa, abogada de Flora Tristán, quien acompañó el caso de destitución, Bia Cortez y Gabriela Adrianzen, activistas feministas que nos acompañan en nuestro constante aprendizaje </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card pink accent-1 hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/resource/images/unidas2.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">UNIdas<i class="material-icons right">more_vert</i></span>
                            <p><a href="https://www.facebook.com/EstudiantesUNIdas/">Facebook</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">UNIdas: Por una Educación Libre de Violencia de Género<i class="material-icons right">close</i></span>
                            <p>Organización de estudiantes de la Universidad Nacional de Ingeniería que busca defender el derecho a una educación libre de violencia contra la mujer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--footer-->
    <footer class="page-footer pink darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">diBasta!</h5>
                    <p class="grey-text text-lighten-4">Feminista es cualquiera que reconozca la igualdad y humanidad de mujeres y varones. Gloria Steinem</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links de interes</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/EstudiantesUNIdas/">Grupo UNIdas</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script>
        // Initialize collapse button
        $(".button-collapse").sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
        });


        $(document).ready(function(){
            $('.slider').slider();
        });

    </script>
    <script type="text/javascript" src="/vendor/vue/vue.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>
