<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adalovelace</title>
        <!google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
        <link href="/static/css/principal.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Adalovelace</h1>
            <div>
                <a href="/registro" class="btn">Ingresar</a>
            </div>
        </div>
    </body>
</html>