<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adalovelace</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="vendor/materialize-0.98.2/css/materialize.min.css" media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="/vendor/jquery-3.2.1/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/vendor/materialize-0.98.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-1.6/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
        <style>
            header, main, footer {
                padding-left: 300px;
            }

            @media only screen and (max-width : 992px) {
                header, main, footer {
                    padding-left: 0;
                }
            }
        </style>
    </head>
    <body>
        <!-- Navbar goes here -->
        <nav class="pink darken-3">
            <div class="nav-wrapper">
                <a href="/inicio" class="brand-logo center">Bienvenida(o)</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <a href="/user/Denuncia" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">pan_tool</i><h5>Haz tu Queja</h5></a>
                    <a href="/test" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">group</i><h5>Reconoces la violencia de género</h5></a>
                    <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">hourglass_empty</i><h5>Proceso de mi Queja</h5></a>
                    <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">phone</i><h5>Contáctanos</h5></a>
                    <a href="/estadisticas" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">poll</i><h5>Estadística</h5></a>
                    <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">person_outline</i><h5>Preguntas frecuentes</h5></a>
                </ul>
            </div>
        </nav>

        <!-- Page Layout here -->
        <div class="row">
            <div class="col l3 hide-on-med-and-down">

                <div class="collection ">
                    <a href="/user/Denuncia" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">pan_tool</i><h5>Haz tu Queja</h5></a>
                    <a href="/test" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">group</i><h5>Reconoces la violencia de género</h5></a>
                    <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">hourglass_empty</i><h5>Proceso de mi Queja</h5></a>
                    <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">phone</i><h5>Contáctanos</h5></a>
                    <a href="/estadisticas" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">poll</i><h5>Estadística</h5></a>
                    <a href="#!" class="collection-item waves-effect waves-pink waves-ripple" style="color: rgb(173, 19, 87)"><i class="large material-icons left">person_outline</i><h5>Preguntas frecuentes</h5></a>
                </div>
            </div>
            <div class="col s12 l9">
                <div class="row container" id="contenedorTest">
                    <!--selecion de categorias-->
                    <div class="row" v-if="testCategoria">
                        <div class="row">

                        </div>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">people_outline</i>Tu pareja</div>
                                <div class="collapsible-body">
                                    <ol class="collection with-header">
                                        <h4 class="collection-header center-align">Reconoce la violencia con tu pareja</h4>
                                        <li class="collection-item">Critica tu fomra de vestir, de arreglarte y trata de convencerte para que cambies tu aspecto</li>
                                        <li class="collection-item">Te impide ir donce quieras,cuadno quieras y con quien quieras.</li>
                                        <li class="collection-item">Intenta que te alejes de tu familia o de tus amistades o los critica y descalifica.</li>
                                        <li class="collection-item">Te hace sentir inferior,tanto o inutil o se burla de tus creencias</li>
                                        <li class="collection-item">Te insulta o se dirige a ti con nombres ofensivos.</li>
                                        <li class="collection-item">Te ignora muestra indiferencia o te castiga con el silencio.</li>
                                        <li class="collection-item">Se muestra muy sobreprotector contigo</li>
                                        <li class="collection-item">Entre otras sistuaciones</li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">person_outline</i>Un compañero univesitario</div>
                                <div class="collapsible-body">
                                        <ol class="collection with-header">
                                            <h4 class="collection-header center-align">Reconoce la violencia en la universidad por parte de un compañero</h4>
                                            <li class="collection-item">Te silvaron dentro del campus universitario.</li>
                                            <li class="collection-item">En plan de broma te silvan al entrar al salón o al salir a participar a la pizarra.</li>
                                            <li class="collection-item">Te escribe un estudiante desconocido atribuyéndose mayor confianza contigo, haciéndote sentir incómoda en el campus universitario.</li>
                                            <li class="collection-item">Habla de otras compañeras tuyas, de su cuerpo y haciendo comentarios obscenos al respecto.</li>
                                            <li class="collection-item">Te insulta o se dirige a ti con nombres ofensivos.</li>
                                            <li class="collection-item">Escuchaste que te tomaron fotos sin tu consentimiento.</li>
                                            <li class="collection-item">Entre otras sistuaciones</li>
                                        </ol>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">work</i>Un trabajador de la universidad</div>
                                <div class="collapsible-body">
                                    <span>Lorem ipsum dolor sit amet.</span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">class</i>Un docente</div>
                                <div class="collapsible-body">
                                    <span>Lorem ipsum dolor sit amet.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <!--footer-->
        <footer class="page-footer pink darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>

        <script>
            // Initialize collapse button
            $(".button-collapse").sideNav({
                menuWidth: 300, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true, // Choose whether you can drag to open on touch screens,
            });

            $(document).ready(function(){
                $('.slider').slider();
            });

            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>
        <script type="text/javascript" src="/vendor/vue/vue.js"></script>
        <script type="text/javascript" src="/static/js/test.js"></script>
    </body>
</html>
