*{
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
}
body{
   background: url("/resource/images/banner.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
h1{
    color:#FFFFFF;
    font: 900 96px 'Bree Serif', serif;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
    margin-bottom: 24px;

}
.btn{
    background: linear-gradient(to right, rgba(252,83,53,1) 0%, rgba(252,83,53,1) 1%, rgba(250,80,225,0.83) 34%, rgba(255,87,202,0.71) 58%, rgba(230,62,124,0.62) 77%, rgba(231,56,39,0.5) 100%);
    border-radius: 4px;
    padding: 20px 48px;
    color: #FFFFFF;
    font: 20px 'Bree Serif', serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
.btn:hover{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -webkit-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease;
}